{#- @var \SoureCode\Component\Menu\Model\MenuView menu -#}
{#- @var \SoureCode\Component\Menu\Model\MenuItemView item -#}

{%- macro attributes(attributes) -%}
    {%- for name, value in attributes -%}
        {%- if value is not none and value is not same as(false) -%}
            {{- ' %s="%s"'|format(name, value is same as(true) ? name|escape : value|escape)|raw -}}
        {%- endif -%}
    {%- endfor -%}
{%- endmacro -%}

{%- block menu -%}
    {%- set tag = tag is defined ? tag : 'nav' -%}
    {%- set attributes = attributes is defined ? attributes : {} -%}

    {%- set list_tag = list_tag is defined ? list_tag : 'ol' -%}
    {%- set list_attributes = list_attributes is defined ? list_attributes : {} -%}

    <{{- tag -}} {{- _self.attributes(attributes) -}}>
    {{- soure_code_menu_render_menu_block('list', options.template) -}}
    </{{- tag -}}>
{%- endblock menu -%}

{%- block list -%}
    <{{- list_tag -}} {{- _self.attributes(list_attributes) -}}>
    {{- soure_code_menu_render_menu_block('menu_items', options.template) -}}
    </{{- list_tag -}}>
{%- endblock list -%}

{%- block menu_items -%}
    {%- for item in menu -%}
        {{- soure_code_menu_render_menu_item(item, {'template': options.template}) -}}
    {%- endfor -%}
{%- endblock menu_items -%}

{%- block menu_item -%}
    {%- set list_tag = list_tag is defined ? list_tag : 'ol' -%}
    {%- set list_attributes = list_attributes is defined ? list_attributes : {} -%}

    {%- set list_item_tag = list_item_tag is defined ? list_item_tag : 'li' -%}
    {%- set list_item_attributes = list_item_attributes is defined ? list_item_attributes : {} -%}

    {%- set element_attributes = element_attributes is defined ? element_attributes : {} -%}

    {{- soure_code_menu_render_menu_block('list_item', options.template) -}}
{%- endblock menu_item -%}

{%- block menu_item_list -%}
    {%- if item is not empty -%}
        <{{- list_tag -}} {{- _self.attributes(list_attributes) -}}>
        {{- soure_code_menu_render_menu_block('menu_item_items', options.template) -}}
        </{{- list_tag -}}>
    {%- endif -%}
{%- endblock menu_item_list -%}

{%- block menu_item_items -%}
    {%- for menuItem in item -%}
        {{- soure_code_menu_render_menu_item(menuItem, {'template': options.template}) -}}
    {%- endfor -%}
{%- endblock menu_item_items -%}

{%- block list_item -%}
    <{{- list_item_tag -}} {{- _self.attributes(list_item_attributes) -}}>
    {%- if link is defined -%}
        {%- set element_attributes = element_attributes|merge({'href': link}) -%}

        {{- soure_code_menu_render_menu_block('link_element', options.template) -}}
    {%- elseif routeName is defined -%}
        {%- if is_current and not options.current_as_link -%}
            {{- soure_code_menu_render_menu_block('text_element', options.template) -}}
        {%- else -%}
            {%- set element_attributes = element_attributes|merge({'href': path(routeName, routeParameters)}) -%}
            {{- soure_code_menu_render_menu_block('link_element', options.template) -}}
        {%- endif -%}
    {%- else -%}
        {{- soure_code_menu_render_menu_block('text_element', options.template) -}}
    {%- endif -%}

    {{- soure_code_menu_render_menu_block('menu_item_list', options.template) -}}
    </{{- list_item_tag -}}>
{%- endblock list_item -%}

{%- block text_element -%}
    <span {{- _self.attributes(element_attributes) -}}>
        {{- soure_code_menu_render_menu_block('icon', options.template) -}}
        {{- label -}}
    </span>
{%- endblock text_element -%}

{%- block link_element -%}
    <a {{- _self.attributes(element_attributes) -}}>
        {{- soure_code_menu_render_menu_block('icon', options.template) -}}
        {{- label -}}
    </a>
{%- endblock link_element -%}

{%- block icon -%}
    {% if icon is defined and icon is not empty %}
        {%- set icon_attributes = icon_attributes is defined ? icon_attributes : {} -%}
        {%- set classes = icon_attributes.class is defined ? icon_attributes.class : '' -%}
        {%- set icon_attributes = icon_attributes|merge({'class': (classes ~ ' ' ~ icon)|trim}) -%}

        {{- soure_code_menu_render_menu_block('icon_element', options.template) -}}
    {% endif %}
{%- endblock icon -%}

{%- block icon_element -%}
    <span{{- _self.attributes(icon_attributes) -}}></span>
    {{- ' ' -}}
{%- endblock icon_element -%}

