
{%- macro attributes(attributes) -%}
    {%- for name, value in attributes -%}
        {%- if value is not none and value is not same as(false) -%}
            {{- ' %s="%s"'|format(name, value is same as(true) ? name|escape : value|escape)|raw -}}
        {%- endif -%}
    {%- endfor -%}
{%- endmacro -%}

{%- block menu -%}
    {{- soure_code_menu_render_menu_block('list', template) -}}
{%- endblock menu -%}

{%- block list -%}
    {{- soure_code_menu_render_menu_block('list_element', template) -}}
{%- endblock list -%}

{%- block list_element -%}
    {%- set list_tag = list_tag|default('ol') -%}
    {%- set list_attributes = list_attributes|default({}) -%}

    <{{- list_tag -}} {{- _self.attributes(list_attributes) -}}>
    {{- soure_code_menu_render_menu_block('menu_items', template) -}}
    </{{- list_tag -}}>
{%- endblock list_element -%}

{%- block menu_items -%}
    {%- for child in item -%}
        {{- soure_code_menu_render_menu_item(child) -}}
    {%- endfor -%}
{%- endblock menu_items -%}

{%- block menu_item -%}
    {{- soure_code_menu_render_menu_block('list_item', template) -}}
{%- endblock menu_item -%}

{%- block list_item -%}
    {%- set list_item_tag = list_item_tag|default('li') -%}
    {%- set list_item_attributes = list_item_attributes|default({}) -%}

    <{{- list_item_tag -}} {{- _self.attributes(list_item_attributes) -}}>
    {%- if link is defined or routeName is defined -%}
        {{- soure_code_menu_render_menu_block('link', template) -}}
    {%- else -%}
        {{- soure_code_menu_render_menu_block('text', template) -}}
    {%- endif -%}
    {%- if item is not empty -%}
        {{- soure_code_menu_render_menu_block('list', template) -}}
    {%- endif -%}
    </{{- list_item_tag -}}>
    {{- soure_code_menu_render_menu_block('divider', template) -}}
{%- endblock list_item -%}

{%- block text -%}
    {{- soure_code_menu_render_menu_block('text_element', template) -}}
{%- endblock text -%}

{%- block text_element -%}
    {%- set text_attributes = text_attributes|default({}) -%}

    <span {{- _self.attributes(text_attributes) -}}>
        {{- soure_code_menu_render_menu_block('icon', template) -}}
        {{- label -}}
    </span>
{%- endblock text_element -%}

{%- block link -%}
    {%- set link_attributes = link_attributes|default({}) -%}

    {%- if link_attributes.href is not defined -%}
        {%- set href = '#' -%}

        {%- if link is defined -%}
            {%- set href = link -%}
        {%- elseif routeName is defined -%}
            {%- set href = path(routeName, routeParameters|default({})) -%}
        {%- endif -%}

        {%- set link_attributes = link_attributes|soure_code_common_merge_attr({'href': href}) -%}
    {%- endif -%}

    {{- soure_code_menu_render_menu_block('link_element', template) -}}
{%- endblock link -%}

{%- block link_element -%}
    {%- set link_attributes = link_attributes|default({}) -%}

    <a {{- _self.attributes(link_attributes) -}}>
        {{- soure_code_menu_render_menu_block('icon', template) -}}
        {{- label -}}
    </a>
{%- endblock link_element -%}

{%- block icon -%}
    {% if icon is defined and icon is not empty %}
        {%- set icon_attributes = icon_attributes|default({}) -%}
        {%- set icon_attributes = icon_attributes|soure_code_common_merge_attr({'class': icon}) -%}

        {{- soure_code_menu_render_menu_block('icon_element', template) -}}
    {% endif %}
{%- endblock icon -%}

{%- block icon_element -%}
    {%- set icon_attributes = icon_attributes|default({}) -%}

    <span{{- _self.attributes(icon_attributes) -}}></span>
    {{- ' ' -}}
{%- endblock icon_element -%}

{%- block divider -%}
    {%- if append_divider -%}
        {{- soure_code_menu_render_menu_block('divider_element', template) -}}
    {%- endif -%}
{%- endblock divider -%}

{%- block divider_element -%}
    {%- set divider_attributes = divider_attributes|default({}) -%}

    <hr{{- _self.attributes(divider_attributes) -}}/>
{%- endblock divider_element -%}

